body{
background-color: rgb(245, 58, 47);
}

.jumbotron {
  text-align: center;
  border-radius: 15px;
  background-color: yellow;
}

#orderReveal{
  border: 2px black solid;
  width: 370px;
  padding: 10px;
  margin-left: 210px;
  display:none;
}

#newOrder {
  color:blue;
}

#size {
  width:250px;
}

#toppingsForm {
  border: 2px black solid;
  width: 370px;
  padding: 10px;
  float:left;
}

#megaMeatPizza, #angusPizza, #angusBaconPizza {
  width: 260px;
  height: 160px;
  margin: 5px;
  float: left;
  display:inline-block;
}

#angusEggPizza{
  width: 340px;
  height: 160px;
}
